h1 {
  font-family: sans-serif;
  color: steelblue;
  font-size: 3em;
  }

h1:hover {color: black;}

h2 {
  font-family: sans-serif;
  color: steelblue;
  font-size: 2em;
  }

h3 {
  font-family: sans-serif;
  color: steelblue;
  font-size: 1.5em;
  }

.main p {color: #555}

ul {list-style: none;}

li {color: yellow;}

.footer {
  padding: 50px;
  height = 200px;
  background-color: #222;
}

.footer p {
  color: #fff;
}
